
<div id="template_edit" class="tempaltes_show">
<h1 style="font-size:20px;color:#999;">Editing template</h1>
<%= link_to 'Show', @template %> |
<%= link_to 'Back', templates_path %>
<%= render 'form' %>


</div>
