@charset "utf-8";

/* Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
ol,ul { list-style:none; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }


/* Font,  Link & Container */
body { font:12px/1.6 arial,helvetica,sans-serif; 
//background-color:#f0f1f1;
}
a:link { color:#369;text-decoration:none; }
a:visited { color:#669;text-decoration:none; }
a:hover { color:#fff;text-decoration:none;background:#039; }
a:active { color:#fff;text-decoration:none;background:#f93; }
textarea { resize:none; }
button { cursor:pointer;line-height:1.2; }
a img { margin-bottom:-3px; }
.mod { width:100%; }
.hd:after, .bd:after, .ft:after, .mod:after {content:'\0020';display:block;clear:both;height:0; }
.bn-close { margin-left:2em; }
a.bn-close:link, a.bn-close:visited, a.bn-close:hover, a.bn-close:active { color:#aaa;font-size:9px;padding:0 2px; }
a.bn-close:hover, a.bn-close:active { background:#f10;color:#fff;border:2px solid #f00; }
.hide { position:absolute;visibility:hidden;left:-1000em;top:-1000em; }
.clear { display:block;clear:both; }
.cr { float:none;display:block;width:100%;clear:both;margin:0;padding:0;font-size:0;line-height:0;height:0;overflow:hidden;*margin-bottom:-2px; }
#content h1 { font-size:26px;font-weight:800;margin-bottom:.4em;color:#555; }
	
/* Layout */
#header, #content, #footer {
width: 100%;
}
.wrapper {
margin: 0px auto;
}
.wrapper { width: 1000px;
//border:1px dotted red; 
}
#content {
margin-bottom: 0.8em;
//border:1px dotted red;
}
.mod {
width: 100%;
}
/* Header */
#header { width:100%;margin:0 0 10px 0;
//border:1px dotted red;

 }
#header { padding: 0; margin-bottom: 2px ; }
#header .wrapper { margin: 20px auto 0px auto; }
#header .top-nav { height: 62px; border-bottom: none; color: #737373 }
#header .login { float: right; margin: -12px 10px 0 0; _margin: 0 10px 0 0 }
#header .login a:link { color: #336699}
#header .login a:visited { color: #669 }
#header .login a:hover { color: #fff; background:#039 }
#header .login a:active { color: #fff; background:#f93 }
#header .logo { margin-left: 15px; float: left; 
background: url(../images/logo.png) no-repeat; display: block; width: 220px; height: 62px; text-indent: -9999px }
/* intro */
#intro { position: relative; left: 0; top: 0; height: 400px;
//border:1px dotted red;
 }
#intro .wrapper { position: relative; left: 0; top: 0 }
#intro .bg {  margin-top: 50px;position: absolute; 
//background: url('../images/intro_back.png');
top: 0; z-index: -1; height: 220px; 
//background: #f4f4f5 }
/* content --- login */
#content .main { padding: 0; width: 100%;
//border:1px dotted red;}
#login, #counter { color: #737373; 
//text-align:  center; 
margin-bottom: 2px ;
border: 1px solid #EEE;}
#login h2 { font: 21px/162% Arial,Helvetica,sans-serif; color: #930013; letter-spacing: 1.5px;  margin: 15px 0 5px 0 }
#showcase{ color: #333333; margin-bottom: 0px ; font-weight:bold; font-size :15px; padding-top:10px;
border: 1px solid #EEE;}

/* making card --- navigation*/
#navi_top{
margin-top:2px;
margin-bottom:2px;
}
#navi_top .wrapper { margin: 2px auto 10px auto;
width: 1000px;
//border:1px dotted red;
}
#stepps_navi{
height:65px;
//float:left;
//border: 1px solid #EEE;
background: url('../images/selection_navi_back.png') repeat-x;
}
#card_counter{
float:left;
padding-left:20px;
padding-top:18px;
//border: 1px solid red;
}
#card_counter #cards_no{
margin-left:20px;
margin-right:5px;
font-size :20px;
color: #bab9b9;
font-weight:bold:
}
#selection_navi{
//position: relative; 
float:left;
margin-left:30px;
//border: 1px solid red;
padding-top:15px;
}
.steps_sel_on{
float:left;
margin-left:22px;
//border: 1px solid red;
width: 40px; height: 40px; text-indent: -9999px;
}
#step1{
background: url(../images/step1_paper_on.png) no-repeat; 
cursor: pointer;
}
#step2{
background: url(../images/step2_write_off.png) no-repeat; 
cursor: pointer;
}
#step3{
background: url(../images/step3_envlop_off.png) no-repeat;
cursor: pointer;
}
#step4{
background: url(../images/step4_send_off.png) no-repeat; 
cursor: pointer;
}
.arrow{
background: url(../images/arrow.png) no-repeat; 
float:left;
margin-left:22px;
width: 40px; height: 40px; 
//border: 1px solid red;
}
#caption_navi{
height:20px;
//border: 1px solid #EEE;
margin-left:280px;
}
.step_caption_on{
float:left;
font-size :14px;
color:#fc5e51;
font-weight:bold;
margin-left:10px;
margin-right:80px;
}
.step_caption_off{
float:left;
font-size :14px;
color: #656464;
margin-left:0px;
margin-right:75px;
}
/* making card --- card content*/
#card_content{}
#card_content.wrapper  { 
margin: 2px auto 10px auto;
border:1px dotted blue;
}
#content_title{
height:35px;
font-size :18px;
padding-left:35px;
color: #bab9b9;
//border:1px dotted blue;
}
#thumb_navi{
height:70px;
border-bottom: 1px solid #EEE;
padding-left:30px;
margin-bottom:10px;
}
.thumb_navi_off{
float:left;
height:60px;
width:60px;
margin-top:5px;
margin-left:12px;
margin-right:12px;
-moz-box-shadow:#333 0px 1px 1px;
//border:1px dotted blue;
}
#thumb_navi_item_1{
background: url(../images/envalop2.png) no-repeat; 
//-moz-box-shadow:#333 0px 1px 1px;
//-webkit-box-shadow: #333 0px 1px 1px;
}
.thumb_navi_on{
float:left;
height:60px;
width:60px;
margin-top:2px;
margin-left:12px;
margin-right:12px;
border:3px solid #ee5c60;
}
/* making card --- card content -- big picture*/
#pic_show{
margin: 2px auto 10px auto;
height:440px;
//width:100%;
//border:1px dotted red;
}
#pic_show_arrow_left{
float:left;
width:115px;
height:440px;
//border:1px dotted red;
}
#big_picture_wrapper{
float:left;
width:760px;
height:440px;
//border:1px dotted red;

}
#big_picture{
position: relative;
margin-top:20px;
margin-left:20px;
width:680px;
height:400px;
float:left;
//background:url(../images/envalop_L.png) no-repeat; 
background-color:#f2e8d7;
border:8px solid #fff;
-moz-box-shadow:#b5b7b7 0px 0px 1px 1px;
-webkit-box-shadow: #b5b7b7 0px 0px 1px 1px;
}
#pic_show_arrow_right{
float:left;
width:115px;
height:440px;
//border:1px dotted red;
}

/* making card --- say something*/
#content_title_say_something{
height:35px;
font-size :18px;
padding-left:5px;
color: #bab9b9;
//border:1px dotted blue;
}

.say_caption_on{
margin-left:10px;
font-size:14px;
float:left;
color: #656464;
//background-color:#fc5e51;
border-bottom: 5px solid #fc5e51;
//-moz-box-shadow:#b5b7b7 0px 0px 1px 1px;
//-webkit-box-shadow: #b5b7b7 0px 0px 1px 1px;
}
.say_caption_off{
margin-left:10px;
font-size:14px;
float:left;
color: #656464;
background-color:#fff;
}
#thumb_navi_caption{
margin-top:10px;
float:left;
width:80px;
//border: 1px solid red;
}
.say_caption_on.caption_on{
//background-color:#656464;
border-left: 5px solid #fc5e51;
border-bottom: 0px;
font-size:14px;
}
.say_caption_off.caption_off{
//background-color:#656464;
//border-left: 5px solid #1f92db;
border-bottom: 0px;
font-size:14px;
}
/* making card --- say something -- input + pic selection*/
#card_picture{
position: relative;
margin-top:20px;
margin-left:20px;
width:680px;
height:400px;
float:left;
//background:url(../images/card_say_something_back.png) repeat; 
background-color:#f2e8d7;
-moz-box-shadow:#b5b7b7 0px 0px 1px 1px;
-webkit-box-shadow: #b5b7b7 0px 0px 1px 1px;
}
#card_left{
float:left;
//border: 1px solid red;
width:350px;
height:400px;
}
#card_pic{
background-color:#f3f3f1;
-moz-box-shadow:#b5b7b7 0px 0px 2px 2px;
-webkit-box-shadow: #b5b7b7 0px 0px 1px 1px;
height:360px;
width:300px;
margin-left:15px;
margin-top:10px;
padding-top:20px;
}
#card_pic_done{
background-color:#fff;
//-moz-box-shadow:#b5b7b7 0px 0px 2px 2px;
//-webkit-box-shadow: #b5b7b7 0px 0px 1px 1px;
border:1px solid #b1b1b1;
height:270px;
width:270px;
//margin-top:20px;
margin-left:15px;
}
#card_pic_selection{
background-color:#fff;
border:1px solid #b1b1b1;
height:50px;
width:270px;
margin-top:15px;
margin-left:15px;
}
#card_right{
float:right;
//border: 1px solid red;
width:325px;
height:400px;
}
#card_words{
background-color:#fff;
border:1px solid #b1b1b1;
height:30px;
width:270px;
margin-left:20px;
margin-top:50px;
color:#b9b6b6;
}
#card_words_default{
background-color:#fff;
border:1px solid #b1b1b1;
height:200px;
width:270px;
margin-top:10px;
margin-left:20px;
color:#b9b6b6;
}
#card_music{
background-color:#fff;
border:1px solid #b1b1b1;
height:30px;
width:270px;
margin-left:20px;
margin-top:10px;
color:#b9b6b6;
}

#preview_show{
margin: 2px auto 10px auto;
height:70px;
//width:100%;
//border:1px dotted red;
}
/*============================*/
/*=== Custom Slider Styles ===*/
/*============================*/
#slider-wrapper {
//    background:url(../images/home_slider/slider.png) no-repeat;
    width:998px;
    height:392px;
    margin:0 auto;
 //   padding-top:74px;
  //  margin-top:50px;
}

#slider {
	position:relative;
    width:847px;
    height:356px;
    margin-left:20px;
	background:url(../images/home_slider/loading.gif) no-repeat 50% 50%;
}
#slider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
#slider a {
	border:0;
	display:block;
}

.nivo-controlNav {
	position:absolute;
	left:260px;
	bottom:-42px;
}
.nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(../images/home_slider/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.nivo-controlNav a.active {
	background-position:0 -22px;
}

.nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(../images/home_slider/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
a.nivo-prevNav {
	left:15px;
}

.nivo-caption {
    text-shadow:none;
    font-family: Helvetica, Arial, sans-serif;
}
.nivo-caption a { 
    color:#efe9d1;
    text-decoration:underline;
}

/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
	clear:both;
}