<div id="card_content">
	<div class="wrapper">

		 <div id="pic_show">
			
			<div id="big_picture_wrapper">
				<div id="big_picture">
					<div id="pic_sel_caption">
						<p id ="sel_caption"> 选择你的炫彩信纸</p>
						  <p id="try">鼠标指点可预览，单击即可应用。</p>
					</div>
					<div id="pic_sel_thumb">
						<div id ="pic_slot1" class="pic_back_slot">
							<div id="pic_back_slot_thumb1" class="pic_back_slot_thumb">
							</div>
							<div id="pic_back_slot_thumb1" class="pic_back_slot_thumb">
							</div>
							<div id="pic_back_slot_thumb1" class="pic_back_slot_thumb">
							</div>
						</div>
						<div id ="pic_slot2" class="pic_back_slot">
								<div id="pic_back_slot_thumb1" class="pic_back_slot_thumb">
								</div>
								<div id="pic_back_slot_thumb1" class="pic_back_slot_thumb">
								</div>
								<div id="pic_back_slot_thumb1" class="pic_back_slot_thumb">
								</div>
						</div>
							
						<div id ="pic_slot3" class="pic_back_slot">
								<div id="pic_back_slot_thumb1" class="pic_back_slot_thumb">
								</div>
								<div id="pic_back_slot_thumb1" class="pic_back_slot_thumb">
								</div>
								<div id="pic_back_slot_thumb1" class="pic_back_slot_thumb">
								</div>
						</div>					
					</div>
				</div>
			</div>
			<div id="pic_show_arrow_right">
			
			</div>
		
		</div>
	</div>
</div>