
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
		$(".pic_back_slot_thumb").hover(function(){
			var back_name = $(this).attr("id");
			var back_url  = "url(../images/background/big/" + back_name + ".png)"
			$("#big_picture").css({'background': back_url});
		});
		
		$(".pic_back_slot_thumb").click(function(){
			var back_name = $(this).attr("id");
			Vboli.background_url  = "url(../images/background/big/" + back_name + ".png)"
			Vboli.background_pic  = back_name + ".png"
			$("#big_picture").css({'background': Vboli.background_url});
			$("#step2").trigger('click');
		});
		
		$(".temp_img_div a").lightBox(); 
}); 
</script>
<div id="temp_thumb_wrapper">
	<ul class = "temp_thumb">
	<% @templates.each do |template| %>

	<li>
	<div class="temp_img_div">
	<a href="<%= template.pic(:original)%>">
	<%= image_tag  template.pic(:thumb), :title => template.description,
	     								  :class => 'thumb'%>
	</a>
	</div>
	</li>

	<%end%>
	</ul>
</div>