<div id="card_content">
	<div class="wrapper">
		<div id="content_title">
		选择信纸
		</div>
		<div id="thumb_navi">
			<div id="thumb_navi_item_1" class="thumb_navi_off"> </div>
			<div id="thumb_navi_item_1" class="thumb_navi_off"> </div>
			<div id="thumb_navi_item_1" class="thumb_navi_off"> </div>
			<div id="thumb_navi_item_1" class="thumb_navi_off"> </div>
			<div id="thumb_navi_item_1" class="thumb_navi_off"> </div>
			<div id="thumb_navi_item_1" class="thumb_navi_off"> </div>
			<div id="thumb_navi_item_1" class="thumb_navi_off"> </div>
			<div id="thumb_navi_item_1" class="thumb_navi_off"> </div>
			<div id="thumb_navi_item_1" class="thumb_navi_off"> </div>
			<div id="thumb_navi_item_1" class="thumb_navi_on"> </div>
		</div>
		 <div id="pic_show">
			<div id= "pic_show_arrow_left">
		
			</div>
			<div id="big_picture_wrapper">
						<div id="big_picture">
				</div>
			</div>
			<div id="pic_show_arrow_right">
			
			</div>
		
		</div>
	</div>
</div>