<div id="content_part">
	<div id = "friends_wrapper">
		<ul class = "friends_thumb">
	
		<% @user_friends.each do |p| %>
		<li>
		<div class="friend_img">
			<%= image_tag  p["profile_image_url"]%>
		</div>
		<div class= "friend_name">
		
			<span style="font-size:10px; color:#999;display:block;overflow:hidden;"><%= p["screen_name"] %></span>
		</div>
		</li>

		<%end%>
		</ul>
	</div>

</div>