<div id="content_part">
<div id="template_navi">
<div id="template_which" which="bcard"></div>
<%= link_to '明信片', show_bcard_path , :class => 'template_sel_active'%>
<div id="space" style="height:15px;"></div>
<%= link_to '照片卡', show_post_path, :class => 'template_sel_off'%>
</div>
<%= render :partial => "card_paper" %>
</div>

