<div id="content_part">
	<div id="template_navi">
	<div id="template_which" which="bcard"></div>
	<%= link_to '宝丽来', show_bcard_path , :class => 'template_sel_active'%>
	<%= link_to '明信片', show_post_path %>
	</div>
<%= render :partial => "card_paper" %>
</div>

