
<div id="header">
	<div id="header-top">
		<div class="login">
			<%if session[:weibo_id]%>	
				<% @user = User.find_by_weibo_id(session[:weibo_id])%>
				<div id="user_profile_img_div">
					<%= image_tag @user.profile_image_url, :class => 'profile_image_url'%>
				</div>
				<div id="user_profile_manage">
			     <%=@user.screen_name %> 
			     <div id="user_profile_signup">
					<%= link_to "退出", signout_url,:class =>'login_signout'%>
				</div>
				</div>
	      <%else%>
		    <div class="login">
			<a href="/login"> <%= image_tag "login.png", :class => 'log-in-button'%> </a>
		   </div>
		  <%end%>


		</div>
	</div>
	<div id="header-bottom"></div>
</div>
<script>
$(document).ready(function(){
	Vboli.initializer();
});
</script>