<div id="content_warpper">
<div id="intro">
	
</div>
<div id="sendingout">
</div>
<div id="showcase">
	<div id="1" class="card_showcase" style="margin-left:0px;">
		<div id="1.1" class="show_whosent">
			<div id="1.1.1" class="user_profile">
				
			</div>
			<div id="1.1.2" class="user_name"></div>
			
		</div>
		<div id="1.2" class="show_cardsent">
			<div id="1.2.1" class="card_out"></div>
		</div>
	
	</div>
	<div id="1" class="card_showcase">
		<div id="1.1" class="show_whosent">
			<div id="1.1.1" class="user_profile">
				
			</div>
			<div id="1.1.2" class="user_name"></div>
			
		</div>
		<div id="1.2" class="show_cardsent">
			<div id="1.2.1" class="card_out"></div>
		</div>
	
	</div>
		<div id="1" class="card_showcase">
		<div id="1.1" class="show_whosent">
			<div id="1.1.1" class="user_profile">
				
			</div>
			<div id="1.1.2" class="user_name"></div>
			
		</div>
		<div id="1.2" class="show_cardsent">
			<div id="1.2.1" class="card_out"></div>
		</div>
	
	</div>
		<div id="1" class="card_showcase">
		<div id="1.1" class="show_whosent">
			<div id="1.1.1" class="user_profile">
				
			</div>
			<div id="1.1.2" class="user_name"></div>
			
		</div>
		<div id="1.2" class="show_cardsent">
			<div id="1.2.1" class="card_out"></div>
		</div>
	
	</div>
		<div id="1" class="card_showcase">
		<div id="1.1" class="show_whosent">
			<div id="1.1.1" class="user_profile">
				
			</div>
			<div id="1.1.2" class="user_name"></div>
			
		</div>
		<div id="1.2" class="show_cardsent">
			<div id="1.2.1" class="card_out"></div>
		</div>
	
	</div>
</div>
</div>
<script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>



