<div id="card_content">
	<div class="wrapper">

		 <div id="pic_show">
			
			<div id="big_picture_wrapper">
				<div id="card_picture">
					
					<%= image_tag  @picture.photo.url(:original)%>		
					
				</div>
				<!-- big picture end-->
			</div>
			<!-- big_picture_wrapper end-->
			<div id="pic_show_arrow_right">
			
			</div>
		
		</div>
	</div>
</div>