<div id="temp_back_div">
	<div id="card_back_div" class="card_back_div" >
	<%= image_tag  @picture.photo.url(:original)%>		
	<div id="card_pic_id" style="display:none;" card_pic_id="<%= @picture.id %>"></div>
	</div>

</div>
<!--
<div id="card_content">
	<div class="wrapper">

		 <div id="pic_show">
			<div id="big_picture_wrapper">
				<div id="card_picture">
					
					<%= image_tag  @picture.photo.url(:original)%>		
				<div id="card_pic_id" style="display:none;" card_pic_id="<%= @picture.id %>"></div>
				</div>
			
			</div>
			
			<div id="pic_show_arrow_right">
			
			</div>
		
		</div>
	</div>
</div>
-->